* {
  margin: 0%;
  padding: 0%;
}
.portfolio-content {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
}
.image-align-right {
  text-align: right;
}
.body {
  background: 1em;
  background-color: rgb(35, 35, 133);
}
.data-container {
  text-align: left;
  line-height: 100px;
}
